Flask
werkzeug
Flask-Login
connexion[swagger-ui]
celery
Flask-Celery-Helper
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
alembic
psycopg2-binary
requests
Click

# Requirements needed for saving data on GCP
google-cloud-storage
