Flask
# We need the future werkzeug 0.15 version but they refuse to release it
# werkzeug
https://github.com/pallets/werkzeug/archive/03c81ae.zip#egg=werkzeug
Flask-Login
Flask-Principal
connexion
celery
kombu
Flask-Celery-Helper
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
alembic
psycopg2-binary
sqlparse
requests
Click
syslog-rfc5424-formatter
apscheduler
gunicorn

# Requirements needed for saving data on GCP
google-cloud-storage

# Requirements needed for deployment
docker
